- var meta_title = '';
- var meta_description = "yoichi kobayashi / I'm creative coder wannabe live in tokyo, japan. enjoying the programming of HTML5 Canvas and WebGl.";
- var meta_path = "/";
- var meta_ogp_img = "meta-img.jpg";

doctype html
html(lang="ja")
  head
    include ./modules/_head.pug
  body.index
    .l-page
      .p-index-eyecatch
        h1.p-index-eyecatch__title
          |tplh.net
        h2.p-index-eyecatch__my-name
          |yoichi kobayashi
        p.p-index-eyecatch__summary
          |I'm creative coder wannabe live in tokyo, japan.
          br
          |enjoying the programming of HTML5 Canvas and WebGl.

      include ./modules/_l-gf.pug
    include ./modules/_canvas.pug
    include ./modules/_script.pug
