- var meta_title = 'Works';
- var meta_description = "";
- var meta_path = "/works.html";
- var meta_ogp_img = "meta-img.jpg";

doctype html
html(lang="ja")
  head
    include ./modules/_head.pug
  body.works
    .l-page
      include ./modules/_l-gh.pug
      .l-contents
        h1.c-page-header
          |Works
        .c-works-list
          .c-works-list__item
            

      include ./modules/_l-gf.pug
    include ./modules/_canvas.pug
    include ./modules/_script.pug
