.p-index-header {
  &__name {
    text-transform: uppercase;
    letter-spacing: 0.36em;
    margin: 0 0 0.8em;
    padding-left: 0.36em;
    @include l-more-than-mobile {
      @include fontSize(28);
    }
    @include l-mobile {
      @include fontSize(20);
    }
  }
  &__url {
    letter-spacing: 0.3em;
    padding-left: 0.3em;
    @include l-more-than-mobile {
      @include fontSize(16);
    }
    @include l-mobile {
      @include fontSize(14);
    }
  }
}
