.p-index-content {
  &__excerpt {
    line-height: 1.75;
    letter-spacing: 0.2em;
    margin: 3em 0;
    padding-left: 0.2em;
    @include l-more-than-mobile {
      @include fontSize(16);
    }
    @include l-mobile {
      @include fontSize(14);
    }
  }
  &__link {
    display: flex;
    flex-wrap: wrap;
    @include l-more-than-mobile {
      justify-content: center;
    }
    @include l-mobile {
      padding-right: 30%;
    }
    a {
      display: block;
      letter-spacing: 0.2em;
      padding-left: 0.2em;
      @include l-more-than-mobile {
        margin: 0 1em 0.5em;
        @include fontSize(14);
      }
      @include l-mobile {
        margin-right: 1.5em;
        margin-bottom: 1em;
        @include fontSize(12);
        text-align: left;
      }
      &:after {
        width: 100%;
        height: 1px;
        content: '';
        display: block;
        margin-top: 2px;
        background-color: #111;
        animation-name: none;
      }
      &:hover {
        &:after {
          @include animateCrossUnderline(0.4s, both);
        }
      }
    }
  }
  &__contact {
    margin-top: 3em;
    letter-spacing: 0.2em;
    @include l-more-than-mobile {
      @include fontSize(14);
    }
    @include l-mobile {
      @include fontSize(12);
    }
    &-wrap {
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
    svg {
      vertical-align: middle;
      margin-right: 0.5rem;
    }
    &-label {
      display: inline-block;
      &:after {
        width: 100%;
        height: 1px;
        content: '';
        display: block;
        margin-top: 2px;
        background-color: #111;
        animation-name: none;
      }
    }
    &-wrap:hover & {
      &-label:after {
        @include animateCrossUnderline(0.4s, both);
      }
    }
  }
}
