.p-index-mailform {
  width: 100%;
  max-width: 540px;
  position: absolute;
  top: 0; right: 0; left: 0;
  margin-right: auto;
  margin-left: auto;
  &__row {
    position: relative;
    margin-bottom: 1em;
  }
  &__input {
    width: 100%;
    display: block;
    padding-bottom: 0.75em;
    border: 0;
    letter-spacing: 0.2em;
    background-color: rgba(255, 255, 255, 0);
    @include l-more-than-mobile {
      @include fontSize(16);
    }
    @include l-mobile {
      @include fontSize(14);
    }
    &:focus {
      outline: 0;
    }
  }
  &__textarea {
    line-height: 1.75;
    height: 1.75 * 5em;
  }
  &__line {
    height: 1px;
    position: absolute;
    right: 0; bottom: 0; left: 0;
    background-color: #ccc;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background-color: #444;
    }
  }
  &__btn-wrap {
    display: flex;
    justify-content: center;
  }
  &__btn {
    width: 8em;
    display: block;
    position: relative;
    margin: 0 0.5em;
    padding:0.75em 0;
    border: 0;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #444;
    @include l-more-than-mobile {
      @include fontSize(16);
    }
    @include l-mobile {
      @include fontSize(14);
    }
    &-label {
      position: relative;
      z-index: 2;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: -10%; bottom: 0; left: -10%;
      background-color: #999;
    }
  }
  //
  // Interaction
  //
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition-duration: 0.8s;
  transition-timing-function: $easeOutCirc;
  &.is-visible {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  &__line {
    &:after {
      transform: scaleX(0);
      transform-origin: right;
      transition-duration: 0.8s;
      transition-timing-function: $easeOutCirc;
      transition-property: transform;
    }
  }
  &__input:focus + &__line:after {
    transform: scaleX(1);
    transform-origin: left;
  }
  &__btn {
    overflow: hidden;
    &:after {
      transform: skewX(33deg) scaleX(0);
      transform-origin: right;
      transition-duration: 0.8s;
      transition-timing-function: $easeOutCirc;
      transition-property: transform;
    }
    &.is-over {
      &:after {
        transform: skewX(33deg) scaleX(1);
        transform-origin: left;
      }
    }
  }
}
