- var meta_title = '';
- var meta_description = "";
- var meta_path = "/about/";
- var meta_ogp_img = "";

doctype html
html(lang="ja")
  head
    include ../modules/_head.pug
  body.index
    .l-page
      include ../modules/_l-gh.pug
      .c-lower-eyecatch
      include ../modules/_l-gf.pug
    include ../modules/_canvas.pug
    include ../modules/_script.pug
