@charset "utf-8";

/* ==================================================================

  基礎要素・汎用class
------------------------------------------------------------------ */
::selection{
  background: #333;
  color: #fff;
}
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2em;
  -webkit-text-size-adjust: none;
  font-family: 'Source Code Pro';
}
a {
  &:hover {
    text-decoration: none;
  }
}
.page {
  position: relative;
  z-index: 100000;
}
.background-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
