@charset "utf-8";

/* ==================================================================

  基礎要素・汎用class
------------------------------------------------------------------ */
::selection{
  background: $black;
  color: $white;
}
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  min-width: 1020px;
  min-height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}
